.welcome {
    max-width: 880px;
    margin: 0 auto;
}

.welcome_title {
    margin-top: 32px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.4;
    color: #ffffff;
    font-weight: 500;
}

.welcome_subtitle {
    font-family: Roboto;
    font-size: 14px;
    margin-top: 3px;
    line-height: 1.43;
    color: #ffffff;
}

.welcome_chooses {
    margin-bottom: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome_choose {
    margin-top: 40px;
    width: 239px;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    background-color: #b8b6b6;
}

.choose_img {
    clip-path: ellipse(50% 50% at 50% 50%);
    margin-top: 12px;
}

.choose_title {
    margin-left: 1px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 4px;
}

.choose_subtitle {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.25;
    text-align: justify;
    color: #ffffff;
}