<div class="welcome">
  <p class="welcome_title">
    Private ShowCase est une plateforme web permettant la mise en relation de musiciens avec des particuliers qui
    souhaitent organiser des concerts chez eux.
  </p>
  <p class="welcome_subtitle">
    Les spectateurs sont directement invités par l’ogranisateur, une participation pourra être demandée pour le
    cachet des artistes.
  </p>
  <div class="welcome_chooses">
    <button mat-button class="welcome_choose">
      <img src="src/resources/musicien-circle.jpg"
        srcset="src/resources/musicien-circle@2x.jpg 2x, src/resources/musicien-circle@3x.jpg 3x" class="choose_img">
      <p class="choose_title">
        Musiciens
      </p>
      <p class="choose_subtitle">
        Proposez des concerts privés
      </p>
    </button>
    <button mat-button class="welcome_choose">
      <img src="src/resources/spectateur-circle.jpg"
        srcset="src/resources/spectateur-circle@2x.jpg 2x, src/resources/spectateur-circle@3x.jpg 3x"
        class="choose_img">
      <p class="choose_title">
        Spectateurs
      </p>
      <p class="choose_subtitle">
        Vivez une expérience unique
      </p>
    </button>
    <button mat-button class="welcome_choose">
      <img src="src/resources/organisateur-circle.jpg"
        srcset="src/resources/organisateur-circle@2x.jpg 2x, src/resources/organisateur-circle@3x.jpg 3x"
        class="choose_img">
      <p class="choose_title">
        Organisateurs
      </p>
      <p class="choose_subtitle">
        Partagez vos coups de coeurs
      </p>
    </button>
  </div>
</div>