<app-header [title]="title"></app-header>
<app-banner></app-banner>
<div class="welcome">
  <p class="welcome_title">
    Private ShowCase est une plateforme web permettant la mise en relation de musiciens avec des particuliers qui
    souhaitent organiser des concerts chez eux.
  </p>
  <p class="welcome_subtitle">
    Les spectateurs sont directement invités par l’ogranisateur, une participation pourra être demandée pour le
    cachet des artistes.
  </p>
  <div class="welcome_chooses">
    <div class="welcome_choose">
      <img src="/src/assets/musicien-circle.jpg"
        srcset="/src/assets/musicien-circle@2x.jpg 2x, /src/assets/musicien-circle@3x.jpg 3x" class="choose_img">
      <p class="choose_title">
        Musiciens
      </p>
      <p class="choose_subtitle">
        Proposez des concerts privés
      </p>
    </div>
    <div class="welcome_choose">
      <img src="/src/assets/spectateur-circle.jpg"
        srcset="/src/assets/spectateur-circle@2x.jpg 2x, /src/assets/spectateur-circle@3x.jpg 3x"
        class="choose_img">
      <p class="choose_title">
        Spectateurs
      </p>
      <p class="choose_subtitle">
        Vivez une expérience unique
      </p>
    </div>
    <div class="welcome_choose">
      <img src="/src/assets/organisateur-circle.jpg"
        srcset="/src/assets/organisateur-circle@2x.jpg 2x, /src/assets/organisateur-circle@3x.jpg 3x"
        class="choose_img">
      <p class="choose_title">
        Organisateurs
      </p>
      <p class="choose_subtitle">
        Partagez vos coups de coeurs
      </p>
    </div>
  </div>
</div>
