.upload__container__background {
  background-image: url('../assets/upload-icon.png');
  height: 100%;
  width: 100%;
}

.upload__container {
  height: 200px;
  width: 200px;
}

.upload__preview {
  height: 200px;
  width: 200px;
}

.header{
  background-color: #4a4a4a;
  padding: 13px 22px 15px 22px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  left: 0;
  right: 0;
  height: 64px;
  color: #ffffff;
}

.header_title{
  position:absolute;
  right: 0;
  left: 0;
  font-size: 36px;
  height: 32px;
  text-align: center;
  line-height: 0.89;
  margin: 0;
  font-family: Roboto;
}

.header_right{
  display:flex;
  flex-direction: row;
  position: absolute;
  right: 32px;
}

.header_sign{
  padding: 10px;
  min-width: 0;
  line-height: normal;
  background-color: transparent;
  font-family: Roboto;
  color: #ffffff;
  font-size: 14px;
}

.header_separator{
  font-family: Roboto;
  margin: auto 0;
  font-size: 14px;
  vertical-align: baseline;
}

.header_left{
  display:flex;
  flex-direction: row;
  position: absolute;
  left: 22px;
}

.bannire{
  width: 100%;
  height: 294px;
}