<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <h2>Samples</h2>
  <div>
    <button (click)="handleSampleLogin()">Login with sample user</button>
  </div>
  <div *ngIf="token">
    <p>{{token}}</p>
    <div>
      <button (click)="handleCheckUserRole()">Check API endpoint with user role</button>
      <button (click)="handleCheckAdminRole()">Check API endpoint with admin role</button>
    </div>
    <div class="upload__container">
      <input style="display:none" type="file" (change)="onFileUpload($event)" #selectFile accept="image/*">
      <div (click)="selectFile.click()"
           class="upload__container__background"
           *ngIf="!imagePreview"
      >
        <p>Click sur l'image pour upload une image</p>
      </div>
      <div *ngIf="imagePreview">
        <img [src]="imagePreview" class="upload__preview">
      </div>
    </div>
  </div>
</div>
-->

<header class="header">
  <div class="header_left">

  </div>
  <p class="header_title">
    Private Showcase
  </p>
  <div class="header_right">
    <button mat-button class="header_sign">
      Se connecter
    </button>
    <p class="header_separator">
      |
    </p>
    <button mat-button class="header_sign">
      S'inscrire
    </button>
  </div>
</header>

<div class="main">
  <div class="bannire">
    <img src="/src/resources/banni-re.jpg" srcset="/src/resources/banni-re@2x.jpg 2x, /src/resources/banni-re@3x.jpg 3x" class="bannire_img" />
  </div>
  <div class="main_body">
    <div class="welcome">
      <p class="welcome_title">
        Private ShowCase est une plateforme web permettant la mise en relation de musiciens avec des particuliers qui souhaitent organiser des concerts chez eux.
      </p>
      <p class="welcome_subtitle">
        Les spectateurs sont directement invités par l’ogranisateur, une participation pourra être demandée pour le cachet des artistes.
      </p>
      <div class="welcome_chooses">
        <button mat-button class="welcome_choose">
          <img src="src/resources/musicien-circle.jpg" srcset="src/resources/musicien-circle@2x.jpg 2x, src/resources/musicien-circle@3x.jpg 3x" class="choose_img">
          <p class="choose_title">
            Musiciens
          </p>
          <p class="choose_subtitle">
            Proposez des concerts privés
          </p>
        </button>
        <button mat-button class="welcome_choose">
            <img src="src/resources/spectateur-circle.jpg" srcset="src/resources/spectateur-circle@2x.jpg 2x, src/resources/spectateur-circle@3x.jpg 3x" class="choose_img">
            <p class="choose_title">
              Spectateurs
            </p>
            <p class="choose_subtitle">
              Vivez une expérience unique
            </p>
        </button>
        <button mat-button class="welcome_choose">
          <img src="src/resources/organisateur-circle.jpg" srcset="src/resources/organisateur-circle@2x.jpg 2x, src/resources/organisateur-circle@3x.jpg 3x" class="choose_img">
          <p class="choose_title">
            Organisateurs
          </p>
          <p class="choose_subtitle">
            Partagez vos coups de coeurs
          </p>
        </button>
      </div>
    </div>
  </div>
</div>