.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:auto;
    max-width: 682px;
    border-radius: 14px;
    background-color: #e7e6e6;
    margin-top: 64px;
    margin-bottom: 16px;
    padding: 28px, 0px;
}

.container_title{
    margin-top: 28px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: rgb(0, 0, 0, 0.54);
    margin-bottom: 32px;
}


.container_bound{
    width: 396px;
    height: 48px;
}

.container_login{
   margin-bottom: 15px;
}

.container_password{
    margin-bottom: 50px;
}

.container_notAuth{
    margin-bottom:20px;
}

/*BUTTONS FIELDS*/

.container_buttons{    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 33px;
}

.container_button{
    width: 93px;
    height: 36px;    
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

.container_validateButton{
    background-color: #17998c;    
}

.mat-button-toggle-disabled{
    background-color: #e7f4f3;
    color: lightgray;
}

.container_cancelButton{
    background-color: #4a4a4a;
    margin-right: 17px;
}

.container_button_paragraph {
    margin: auto;
}


