<app-header [title]="title"></app-header>

<mat-card class="artist-detail_card">
  <mat-card-header class="artist-detail_card_header">
    Présentation
  </mat-card-header>
  <mat-card-content class="artist-detail_card_presentation">
    <img src="/src/assets/startboy.jpg" class="artist-detail_card_img" />
    <div class="artist-detail_card_texts">
      <p class="artist-detail_card_text_name">Nom de l'artiste</p>
      <p class="artist-detail_card_text_describe-short">Curabitur lobortis id lorem id bibendum. Ut id consectetur
        magna.</p>
      <p class="artist-detail_card_text_describe-long">
        Curabitur lobortis id lorem id bibendum.
        Ut id consectetur magna.
        Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at.
        Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus.
        Nam tempus vel odio vitae aliquam.
        In imperdiet eros id lacus vestibulum vestibulum.
        Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo.
        Maecenas semper suscipit nunc, sed aliquam sapien convallis eu.
        Nulla ut turpis in diam dapibus consequat.
        Curabitur lobortis id lorem id bibendum.
        Ut id consectetur magna.
        Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at.
        Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus.
        Nam tempus vel odio vitae aliquam.
        In imperdiet eros id lacus vestibulum vestibulum.
        Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo.
        Maecenas semper suscipit nunc, sed aliquam sapien convallis eu.
        Nulla ut turpis in diam dapibus consequat.
      </p>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="artist-detail_card">
  <mat-card-header class="artist-detail_card_header">
    Informations générales
  </mat-card-header>
  <mat-card-content class="artist-detail_card_informations">
    <mat-list>
      
    </mat-list>
    <!--<mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-list>
          <mat-list-item>
              <mat-icon>alternate_email</mat-icon>
            https://mon-site-web.com
          </mat-list-item>
          <mat-list-item>
              <mat-icon>call</mat-icon>
              303-732-7959
          </mat-list-item>
          <mat-list-item>
              <mat-icon>email</mat-icon>
              0263 Keeling Squares<br />
              95030-5892 North Amos
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-divider [vertical]=true></mat-divider>
      <mat-grid-tile>

      </mat-grid-tile>
    </mat-grid-list>-->
  </mat-card-content>
</mat-card>