<div class="user-menu">
  <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
    <i class="material-icons">more_vert</i>
  </button>
  <mat-menu class="user-menu_menu" #beforeMenu="matMenu" xPosition="before" [overlapTrigger]="false">
    <button mat-menu-item class="user-menu_button">
      <i class="material-icons">music_note</i>
      <p class="user-menu_button_text">Artistes</p>
    </button>
    <button mat-menu-item class="user-menu_button">
      <i class="material-icons">settings</i>
      <p class="user-menu_button_text">Profil</p>
    </button>
    <button mat-menu-item class="user-menu_button">
      <i class="material-icons">exit_to_app</i>
      <p class="user-menu_button_text">Déconnexion</p>
    </button>
  </mat-menu>
</div>