<form class="example-container">

    <h1>Formulaire d'inscription</h1>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Mot de passe">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <input matInput placeholder="Confirmer le mot de passe">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Ville">
    </mat-form-field>

    <mat-checkbox>Etes vous un artiste proposant des prestations privés?</mat-checkbox>

    <mat-form-field>
        <input matInput placeholder="Nom artiste">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

</form>